@charset "UTF-8";
/*
---------------------------------------------------------	
	Responsive Webdesign Testlayout
 
	@author			Andreas Börcsök
	@copyright		Copyright 2012, Andreas Börcsök
	@link				http://smartexpert.de
---------------------------------------------------------
*/
@media only screen and (max-width: 480px) {
  .show-for-xsmall
  .hide-for-small,
  .hide-for-medium,
  .hide-for-large,
  .hide-for-xlarge,
  .hide-for-xxlarge {
    display: block !important; }

  .hide-for-xsmall,
  .show-for-small,
  .show-for-medium,
  .show-for-large,
  .show-for-xlarge,
  .show-for-xxlarge {
    display: none !important; } }
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .hide-for-xsmall
  .show-for-small,
  .hide-for-medium,
  .hide-for-large,
  .hide-for-xlarge,
  .hide-for-xxlarge {
    display: block !important; }

  .show-for-xsmall,
  .hide-for-small,
  .show-for-medium,
  .show-for-large,
  .show-for-xlarge,
  .show-for-xxlarge {
    display: none !important; } }
@media only screen and (max-width: 1024px) and (min-width: 801px) {
  .hide-for-xsmall
  .hide-for-small,
  .show-for-medium,
  .hide-for-large,
  .hide-for-xlarge,
  .hide-for-xxlarge {
    display: block !important; }

  .show-for-xsmall,
  .show-for-small,
  .hide-for-medium,
  .show-for-large,
  .show-for-xlarge,
  .show-for-xxlarge {
    display: none !important; } }
@media only screen and (max-width: 1280px) and (min-width: 1025px) {
  .hide-for-xsmall
  .hide-for-small,
  .hide-for-medium,
  .show-for-large,
  .hide-for-xlarge,
  .hide-for-xxlarge {
    display: block !important; }

  .show-for-xsmall,
  .show-for-small,
  .show-for-medium,
  .hide-for-large,
  .show-for-xlarge,
  .show-for-xxlarge {
    display: none !important; } }
@media only screen and (max-width: 1440px) and (min-width: 1281px) {
  .hide-for-xsmall
  .hide-for-small,
  .hide-for-medium,
  .hide-for-large,
  .show-for-xlarge,
  .hide-for-xxlarge {
    display: block !important; }

  .show-for-xsmall,
  .show-for-small,
  .show-for-medium,
  .show-for-large,
  .hide-for-xlarge,
  .show-for-xxlarge {
    display: none !important; } }
@media only screen and (min-width: 1441px) {
  .hide-for-xsmall
  .hide-for-small,
  .hide-for-medium,
  .hide-for-large,
  .hide-for-xlarge,
  .show-for-xxlarge {
    display: block !important; }

  .show-for-xsmall,
  .show-for-small,
  .show-for-medium,
  .show-for-large,
  .show-for-xlarge,
  .hide-for-xxlarge {
    display: none !important; } }
@media only screen and (max-width: 480px) {
  html {
    font-size: 75%;
    line-height: 1.5em; }

  html > body {
    font-size: 12px; }

  .fontface body {
    font-family: "Segoe UI", "Lucida Sans Unicode", "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, Tahoma, Arial, Helvetica, sans-serif; }

  .fontface h1, .fontface h2, .fontface h3, .fontface h4, .fontface h5, .fontface h6 {
    font-family: "Segoe UI", "Lucida Sans Unicode", "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, Tahoma, Arial, Helvetica, sans-serif; } }
@media only screen and (max-width: 800px) and (min-width: 481px) {
  html {
    font-size: 75%;
    line-height: 1.5em; }

  html > body {
    font-size: 12px; } }
@media only screen and (max-width: 1024px) and (min-width: 801px) {
  html {
    font-size: 87.5%;
    line-height: 1.5em; }

  html > body {
    font-size: 14px; } }
@media only screen and (max-width: 1280px) and (min-width: 1025px) {
  html {
    font-size: 100%;
    line-height: 1.5em; }

  html > body {
    font-size: 16px; } }
@media only screen and (max-width: 1440px) and (min-width: 1281px) {
  html {
    font-size: 112.5%;
    line-height: 1.5em; }

  html > body {
    font-size: 18px; } }
@media only screen and (min-width: 1441px) {
  html {
    font-size: 112.5%;
    line-height: 1.5em; }

  html > body {
    font-size: 18px; } }
@media only screen and (max-width: 480px) {
  #pageHeader, #pageNavigation, #billboard, #content, #pageFooter {
    width: auto;
    min-width: 0;
    margin-left: 0;
    margin-right: 0; }
    #pageHeader:before, #pageHeader:after, #pageNavigation:before, #pageNavigation:after, #billboard:before, #billboard:after, #content:before, #content:after, #pageFooter:before, #pageFooter:after {
      content: "";
      display: table; }
    #pageHeader:after, #pageNavigation:after, #billboard:after, #content:after, #pageFooter:after {
      clear: both; } }
@media only screen and (max-width: 800px) and (min-width: 481px) {
  #pageHeader, #pageNavigation, #billboard, #content, #pageFooter {
    width: 98%;
    max-width: 784px;
    min-width: 470.4px;
    margin: 0 auto; }
    #pageHeader:before, #pageHeader:after, #pageNavigation:before, #pageNavigation:after, #billboard:before, #billboard:after, #content:before, #content:after, #pageFooter:before, #pageFooter:after {
      content: "";
      display: table; }
    #pageHeader:after, #pageNavigation:after, #billboard:after, #content:after, #pageFooter:after {
      clear: both; }
    .lt-ie8 #pageHeader, .lt-ie8 #pageNavigation, .lt-ie8 #billboard, .lt-ie8 #content, .lt-ie8 #pageFooter {
      zoom: 1; } }
@media only screen and (max-width: 1024px) and (min-width: 801px) {
  #pageHeader, #pageNavigation, #billboard, #content, #pageFooter {
    width: 96%;
    max-width: 983.04px;
    min-width: 768px;
    margin: 0 auto; }
    #pageHeader:before, #pageHeader:after, #pageNavigation:before, #pageNavigation:after, #billboard:before, #billboard:after, #content:before, #content:after, #pageFooter:before, #pageFooter:after {
      content: "";
      display: table; }
    #pageHeader:after, #pageNavigation:after, #billboard:after, #content:after, #pageFooter:after {
      clear: both; }
    .lt-ie8 #pageHeader, .lt-ie8 #pageNavigation, .lt-ie8 #billboard, .lt-ie8 #content, .lt-ie8 #pageFooter {
      zoom: 1; } }
@media only screen and (max-width: 1280px) and (min-width: 1025px) {
  #pageHeader, #pageNavigation, #billboard, #content, #pageFooter {
    width: 90%;
    max-width: 1152px;
    min-width: 921.6px;
    margin: 0 auto; }
    #pageHeader:before, #pageHeader:after, #pageNavigation:before, #pageNavigation:after, #billboard:before, #billboard:after, #content:before, #content:after, #pageFooter:before, #pageFooter:after {
      content: "";
      display: table; }
    #pageHeader:after, #pageNavigation:after, #billboard:after, #content:after, #pageFooter:after {
      clear: both; }
    .lt-ie8 #pageHeader, .lt-ie8 #pageNavigation, .lt-ie8 #billboard, .lt-ie8 #content, .lt-ie8 #pageFooter {
      zoom: 1; } }
@media only screen and (max-width: 1440px) and (min-width: 1281px) {
  #pageHeader, #pageNavigation, #billboard, #content, #pageFooter {
    width: 90%;
    max-width: 1296px;
    min-width: 1152px;
    margin: 0 auto; }
    #pageHeader:before, #pageHeader:after, #pageNavigation:before, #pageNavigation:after, #billboard:before, #billboard:after, #content:before, #content:after, #pageFooter:before, #pageFooter:after {
      content: "";
      display: table; }
    #pageHeader:after, #pageNavigation:after, #billboard:after, #content:after, #pageFooter:after {
      clear: both; }
    .lt-ie8 #pageHeader, .lt-ie8 #pageNavigation, .lt-ie8 #billboard, .lt-ie8 #content, .lt-ie8 #pageFooter {
      zoom: 1; } }
@media only screen and (min-width: 1441px) {
  #pageHeader, #pageNavigation, #billboard, #content, #pageFooter {
    width: 90%;
    max-width: 1440px;
    min-width: 1296px;
    margin: 0 auto; }
    #pageHeader:before, #pageHeader:after, #pageNavigation:before, #pageNavigation:after, #billboard:before, #billboard:after, #content:before, #content:after, #pageFooter:before, #pageFooter:after {
      content: "";
      display: table; }
    #pageHeader:after, #pageNavigation:after, #billboard:after, #content:after, #pageFooter:after {
      clear: both; }
    .lt-ie8 #pageHeader, .lt-ie8 #pageNavigation, .lt-ie8 #billboard, .lt-ie8 #content, .lt-ie8 #pageFooter {
      zoom: 1; } }

#mainContent, #subContent {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -15px; }
  #mainContent:before, #mainContent:after, #subContent:before, #subContent:after {
    content: "";
    display: table; }
  #mainContent:after, #subContent:after {
    clear: both; }
  .lt-ie8 #mainContent, .lt-ie8 #subContent {
    zoom: 1; }

#pageHeaderContent, #navigation, #mainAndSubContent, #sub, #pageFooterContent {
  float: left;
  position: relative;
  min-height: 1px;
  padding: 0 15px;
  width: 100%; }
  @media only screen and (max-width: 480px) {
    #pageHeaderContent, #navigation, #mainAndSubContent, #sub, #pageFooterContent {
      width: auto !important;
      float: none; }
      #pageHeaderContent:before, #pageHeaderContent:after, #navigation:before, #navigation:after, #mainAndSubContent:before, #mainAndSubContent:after, #sub:before, #sub:after, #pageFooterContent:before, #pageFooterContent:after {
        content: "";
        display: table; }
      #pageHeaderContent:after, #navigation:after, #mainAndSubContent:after, #sub:after, #pageFooterContent:after {
        clear: both; } }

#main, #billboardContent {
  float: left;
  position: relative;
  min-height: 1px;
  padding: 0 15px;
  width: 62.5%; }
  @media only screen and (max-width: 480px) {
    #main, #billboardContent {
      width: auto !important;
      float: none; }
      #main:before, #main:after, #billboardContent:before, #billboardContent:after {
        content: "";
        display: table; }
      #main:after, #billboardContent:after {
        clear: both; } }

#sidebar, #billboardTeaser {
  float: left;
  position: relative;
  min-height: 1px;
  padding: 0 15px;
  width: 37.5%; }
  @media only screen and (max-width: 480px) {
    #sidebar, #billboardTeaser {
      width: auto !important;
      float: none; }
      #sidebar:before, #sidebar:after, #billboardTeaser:before, #billboardTeaser:after {
        content: "";
        display: table; }
      #sidebar:after, #billboardTeaser:after {
        clear: both; } }

@media only screen and (max-width: 800px) and (min-width: 481px) {
  #main, #sidebar {
    width: auto !important;
    float: none; }
    #main:before, #main:after, #sidebar:before, #sidebar:after {
      content: "";
      display: table; }
    #main:after, #sidebar:after {
      clear: both; }
    .lt-ie8 #main, .lt-ie8 #sidebar {
      zoom: 1; } }
